<div class="nav">
  <div class="logo">
    <a href="/">Lavadoras M4</a>
  </div>
  <ul class="list">
    <li routerLinkactive="active" class="active">
      <a href="/">
        <i class="material-icons">content_paste</i>
        <p>Alquileres</p>
      </a>
    </li>
    <li routerLinkactive="active">
      <a href="/">
        <i class="material-icons">local_laundry_service</i>
        <p>Lavadoras</p>
      </a>
    </li>
    <li routerLinkactive="active">
      <a href="/">
        <i class="material-icons">equalizer</i>
        <p>Estadisticas</p>
      </a>
    </li>
    <li routerLinkactive="active">
      <a href="/">
        <i class="material-icons">library_books </i>
        <p>Informes</p>
      </a>
    </li>
    <li routerLinkactive="active" class="info">
      <a href="/">
        <i class="material-icons">info</i>
        <p>Obtener Ayuda</p>
      </a>
    </li>
  </ul>
</div>
